.row-1{
    display: flex;
    background-color: grey;;
    padding: 10px;
    justify-content: space-between;
}
.row-2{
    text-align: center;
    padding: 10px;
}
.row-3{
    text-align: center;
    padding: 10px;
}
.row-4{
    text-align: center;
    padding: 10px;
}